<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to <%= resturant %> </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/public/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/public/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/public/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/util.css">
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
<!--===============================================================================================-->
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post"  name="logForm" id="logForm" role="form" >
					<span class="login100-form-logo">
						<!--<img src="images/Mission Nirmal Bangla.jpg" width="80%" />-->
					</span>
					<span class="login100-form-title p-b-20 p-t-27">
						<%= resturant %>
					</span>
					<div class="text-center p-b-10 text-white">
						Welcome to NoTouch dining with Connet at <%= resturant %>
					</div>
                    <div class="text-center p-b-10 text-white">
						You're at table number <%= tableno %>
					</div>
					<div class="container-login100-form-btn">
					
                        <div class="col-sm-6" style="padding-bottom:5px; padding-left:5px;"><input type="submit" class="btn btn-sq-lg btn-success  btn-change7" value = "Edit order" formaction = "menu"><i class="fa fa-refresh" aria-hidden="true" style="font-size:50px;"></i> <br></div>
                        <div class="col-sm-6" style="padding-bottom:5px; padding-left:5px;"><input type="submit" class="btn btn-sq-lg btn-success  btn-change7" value = "View and Confirm order" formaction = "bill"><i class="fa fa-refresh" aria-hidden="true" style="font-size:50px;"></i> <br></div>
                        <div class="col-sm-6" style="padding-bottom:5px; padding-left:5px;"><input type="submit" class="btn btn-sq-lg btn-success  btn-change7" value = "Cancel order" formaction = "end"><i class="fa fa-refresh" aria-hidden="true" style="font-size:50px;"></i> <br></div>
                    </div>

					<div class="text-center p-t-90 text-white">	
							<span style="font-size:11px;">Powered by Connet NoTouch<br>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
	
<!--===============================================================================================-->
	<script src="/public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/bootstrap/js/popper.js"></script>
	<script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/daterangepicker/moment.min.js"></script>
	<script src="/public/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/public/js/main.js"></script>

</body>
</html>